#player1Choice,#player2Choice{
  height: 30%;
  border: 1%;
  width: 45%;
}

#player1Choice{
  border-right-style: dashed;
}

#chatWindow{
  border: 1%;
  border-style: solid;
  height: 20%;
  margin-top: 1%;

}

#choiceSelect{
  position: relative;
  bottom: -70%;
}

.btn-choice{
  margin: 2%;
}